.list {
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  padding: 50px;
  color: transparent;
  width: 270px;
  margin: 70px 0px 0px 0px;
  border-radius: 25px;
  transform: translateX(-50%);
  margin-left: 50%;
}

.list a {
  color: #8A79BC;
  text-decoration: none;
  line-height: 40px;
  width: 100%;
}

.table_all a {
  color: #8A79BC;
  text-decoration: none;
  line-height: 30px;
}

.table_all {
  // transform: translateX(-50%);
  // margin-left: 50%;

  table, th, td {
  border: 5px solid white;
  color: #8A79BC;
  text-decoration: none;
  }

  td {
   text-align: left;
   text-decoration: none;
  }

  th {
    font-size: 24px;
    text-decoration: none;
  }

  td, th {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    text-decoration: none;
  }

  table {
    border-color: #e2605D;
    text-decoration: none;
  }
}
