.table_all a {
  color: #8A79BC;
  text-decoration: none;
}

.table_all {
  padding: 20px 20px 2px 20px;

  table, th, td {
  border: 1px solid #e2605D;
  text-decoration: none;
  }

  td {
   text-align: left;
   text-decoration: none;
   color: #8A79BC;
   background-color: white;
   font-size: 18px;
  }

  th {
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #8A79BC;
  }

  td, th {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  table {
    border-color: #e2605D;
    text-decoration: none;
  }
  .option {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}
