.list {
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  padding: 50px;
  color: transparent;
  width: 270px;
  margin: 70px 0px 0px 0px;
  border-radius: 25px;
  transform: translateX(-50%);
  margin-left: 50%;
}

.list a {
  color: #8A79BC;
  text-decoration: none;
  line-height: 40px;
  width: 100%;
}

.td {
  float: left;
  width: 20%;
  margin: 0 0 10px 10px;
}

.right_column{
  float: right;
  width: 80%;
  margin: 20 20 10px 10px;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}
