@import 'reset_css';

body {
  font: 100% Avenir;
  font-weight: medium;
  background-color: white;
}


h1 {
  margin: 50px 50px 50px 50px;
  color: #82B6C6;
  text-align: center;
  font-size: 50px;
}

.items{
  margin: 10px 50px 0px 0px;
}

.list {
  margin: 0px 50px 10px 50px;
  color: #C477A7;
  text-align: left;
  padding: 50px;
}

.list a {
  color: black;
  text-decoration: none;
  line-height: 40px;
}

.btn {
  border: none;
  margin: 10px 10px 10px 0px;
  padding: 8px;
  font-family: Verdana;
  font-size: 15px;
  border-radius: 10px;
  background-color: #C477A7;
  color: white;
  outline: none;
}

.form_field {
  margin: 10px 50px 0px 50px;
  line-height: 30px;
}

.show_btn{
  border: none;
  margin: 30px 10px 0px 20px;
  padding: 10px;
  font-family: Verdana;
  font-size: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  outline: none;
}

.total {
  margin: 0px 50px 0px 40px;
  line-height: 30px;
  color: #C477A7;
}

.product {
  margin: -70px 50px 50px 50px;
  line-height: 30px;
  color: #8A79BC;
}

.input {
  font: 100% Avenir;
  font-weight: medium;
  font-size: 12px;
  color: black;
  outline: none;
}
