@import 'reset_css';

body {
  font: 100% Avenir;
  font-weight: medium;
  background-color: #e2605D;
}

h1 {
  margin: 50px 0px 50px 0px;
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  margin: 0px 0px 0px 0px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.items {
  text-align: center;
  align-items: center;
  font-size: 25px;
  margin: 10px 50px 0px 0px;
}

.form_field {
  margin: 6px 0px 0px 50px;
  line-height: 30px;
}

.input {
  padding: 13px;
  font: 100% Avenir;
  font-weight: medium;
  font-size: 22px;
  color: black;
  outline: none;
}

.show_btn {
  position: relative;
  align-self: center;
  border: none;
  line-height: 30px;
  margin: 0px 0px 0px 0px;
  padding: 8px;
  width: 260px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font: 100% Avenir;

  &:hover {
    cursor: pointer;
  }
}

.initial_btn {
  position: center;
  align-self: center;
  border: none;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font: 100% Avenir;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.product {
  margin: -70px 50px 50px 50px;
  line-height: 30px;
  color: #8A79BC;
}

.home_image {
  margin: 50px 0px 0px 0px;
  width:30px;
  height:30px;

  &:hover {
    cursor: pointer;
  }
}
