@import 'reset_css';

body {
  font: 100% Avenir;
  font-weight: medium;
  background-color: #e2605D;
}

h1 {
  margin: 50px 0px 0px 0px;
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  margin: 50px 0px 0px 0px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.items {
  margin: 10px 50px 0px 0px;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

.form_field {
  margin: 6px 0px 0px 50px;
  line-height: 30px;
}

.input {
  padding: 13px;
  font: 100% Avenir;
  font-weight: medium;
  font-size: 22px;
  color: black;
  outline: none;
}

.show_btn {
  margin: 0px 0px 0px 0px;
  position: relative;
  align-self: center;
  border: none;
  line-height: 30px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font: 100% Avenir;

  &:hover {
    cursor: pointer;
  }
}

.btn_class {
  position: relative;
  align-self: center;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  color: white;
  outline: none;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }
}

.initial_btn {
  margin: 20px 0px 20px 0px;
  position: center;
  align-self: center;
  border: none;
  line-height: 30px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font-family: inherit;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.home_image {
  width: 30px;
  height: 30px;
}

.drink_btn {
  font-family: Avenir;
  margin: 0px 0px 0px 0px;
  position: relative;
  align-self: center;
  border: none;
  line-height: 30px;
  padding: 6px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  // font: 100% Avenir;

  &:hover {
    cursor: pointer;
  }
}


.drunk_btn {
  border: none;
  padding: 8px 4px 8px 4px;
  width: 260px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: #8A79BC;
  color: white;
  outline: none;
  font-size: 20px;
  position: relative;
  margin: 0px 0px 10px 0px;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }
}

.text {
  margin: 30px 0px 30px 0px;
  color: white;
  text-align: center;
  font-size: 20px;
}
