.product_x {
  margin: 50px 480px 50px 480px;
  line-height: 30px;
  color: #8A79BC;
  background-color: white;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.home_image {
  margin: 50px 0px 0px 0px;
  width:30px;
  height:30px;

  &:hover {
    cursor: pointer;
  }
}
