<h1>
  Bill Splitter
</h1>

<h2>
  Produto deletado com sucesso!
</h2>

</br>

<div class="btn_class">
  <form action=<%= list_path %> method="GET">
    <input type="submit" class="back_btn" value="Ver lista de produtos"/>
  </form>
</div>

<div class="items">
  <div class="form_field">
    <form action="/" method="GET">
      <input type="submit" class="back_btn" value="Cadastrar novo produto"/>
    </form>
  </div>
</div>
